@using TeaAndCoffe_Utility;
@model TeaAndCoffe_Models.Product

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Category.Name.Replace(' ','_')">
    <!-- Card-->
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
        <div class="card-footer" style="border-radius: 0px; background-color:#222">
            <div class="row">
                <div class="col-7">
                    <h5 class="float-left; text-white">@Model.Name</h5>
                </div>
                <div class="col">
                    <h5 class="text-warning text-end">@(Model.Price.ToString("c"))</h5>
                </div>
            </div>
        </div>
        <div style="border:1px solid #222"></div>
        <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@WC.ImagePath@Model.Image" alt="Card image cap">
        <div style="border:1px solid #222"></div>
        <div class="col-8"><label class="float-end" style="font-size:18px">100 gramm</label></div>
        <div class="card-body p-1 px-3 row">
            <div class="col-6">
                <span class="badge p-2 border w-100" style="background-color:wheat; color:black;font-size:revert">#@Model.Category.Name</span>
            </div>
            <div class="col-6 border-0">
                <span class="badge p-2 border w-100" style="background-color:antiquewhite;color:black; font-size:revert">#@Model.ApplicationType.Name</span>
            </div>
            <div class="col-12 pt-2" style="font-size:20px; text-align:justify">
                <p> @Model.ShortDescription</p>
            </div>
            <div class="col-12 p-1">
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-sm p-2 h3" style="height:40px;font-size:revert; background-color:#122E0B">
                    <h6>
                        View Details
                    </h6>
                </a>
            </div>
        </div>
    </div>
</div>

